{
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "semi": false,
  "vue": true,
  "printWidth": 90,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
