#dxzWb {
  .canvas-default {
    cursor: default;
  }

  .canvas-line {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAActpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+QWRvYmUgSW1hZ2VSZWFkeTwveG1wOkNyZWF0b3JUb29sPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KKS7NPQAAAMJJREFUOBHt1EENxCAQBVAkIAEJSEACEnCEBCQgAUlImOUTftLDHKbtXjZZLrST6eswBJxzTmKM0lqTOaes93cjhCAppY0uSUop7+BaqwBFWWfe+ONqz4fivQcqvfcNog2PUSyTGCoFBPAxqgFaDD8zDw3QYmYQiRqgxf6ovQNa/7SYXfz5jcI9sBbxnRNFDMeWx/RWL5nMTUFl5w5wxM/MVPtMFJURyznzxrJD10yiKybAxhi7n9ec289AUSHvUrTgAygTWpbmQUSvAAAAAElFTkSuQmCC'),
      auto;
  }

  .canvas-straightLine {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGtJREFUeNpiZGBg2A/EBxmwg3wgLgTiBQwkgAYc4vOBOIGBRMCEx7CDpLoMl4H9QLyRDMMMgPg9spcFgHg9VIKBTMMSYAYKQCOHYsNgXqSaYQxQAaoZBgIK1DSMYdSwUcNGDSMDUGwYQIABAGJmJu9IXGmAAAAAAElFTkSuQmCC'),
      auto;
  }

  .canvas-rect {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJFJREFUeNpiZGBg2A/EBxmwg3wgLgTiBQwkgAYc4vOBOIGBRMCEx7CDpLoMBFiwiPUD8UYg3sBABkA2UADqsoVAbADFDOR6GWTYeiBuBOIPQBzPQB6oh3lxP5KLHKB8csB/EPEezXsUGQgKQ0MgfsBAJcBETcPwpcNRAwfQQBYc4gbkpkVGLGIC5ObjEQoAAgwAO8sXCR/kRncAAAAASUVORK5CYII='),
      auto;
  }

  .canvas-round {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPtJREFUeNqslIsNgjAQhq/GARyhI+AEsoGO4AbiBjgBboBOoE4ATAAbwAbiBt4lh2maK9Din/wJfX3cg6IAoEBXIOuEPqNv4KHUMZ+jj+Cp1Qis8o2MtBbmMvQL/UTHnHaE7ow9Gn1HX9G9K+UN+sGHh+dhLInK0UplSRlQGLB6Zv3EvZkBC2nGAP1l8jYGEcN9FZvntNXdGMJEQK2sSQp9GwhMqOP2d9hDuBqKcAV/lg3UC1haSrlZAN2hS+nrzwOja12L9ch1c4mu6MG1GPHb5kLzOVkN0GQizcKGqYk7SsA9F/vDvzDNDSBd7EYoj7uq2SWDO2njV4ABAE3eNnfW3i8NAAAAAElFTkSuQmCC'),
      auto;
  }

  .canvas-text {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASdJREFUeNq0lIENgjAQRYsT4AYwgbgBTiAbqBMIG7iBcQLcwDiBcQLcoDgBOoFezb+kqe0BJl7yA4Hj9d/1aKSUupCuyh9bUkU6qhGxCzyvSWs1MiYC7DrWWcjhnlQ4z4xTjfboocCYdCJlnpwGixSAFn3AGIk+WAZXJq+D21oC7gUY97MEtIO7Dia80Qkwfp8DyO54EW8kAmyNvjIgtgzoXybgYpXIC5+wUAPng+aQnTPkRmpxfyYtSQfSyv0o6tksHqfcAsYoeYqyU9JjCNAkLwJ9fsD11x8VAhY4GM64ts57HpkKlcz7NkNsvFVBZl2DDhOAFgCnPT2+k2akTQhYIsH06SkcbwnGau7bHHf2tDN70pyaal5Caz6QfADMHqlM/SveAgwAuYRMsuNCEmsAAAAASUVORK5CYII='),
      auto;
  }

  .canvas-delete {
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAM1JREFUeNrck30NwyAQxdkUIKESkIAEJCABCTiYBCRMQjMFzEEldBJ2TY7kjX7w0f61l7wQcvDLa++4iV9Z8oP85r0kK95/xFovshc7WmCRIahAHkWjFthMHnbqgd0EU4Vz1dAaWNJYgt55rQFKti5BFae0hTMTdDScgWJNwhR0QVMync2l6IEahiWAhrFyPVDsfko9QFoDd2KpsZjUAiBP6Lg+bbywQ+jWPzQNj2IF9dBhyUl9KyyHBvisZy8shzoGn4Ll0HgF7I/0FWAAKwk7xVUbfgwAAAAASUVORK5CYII='),
      auto;
  }
}
